html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgrey;
}

#canvas-container {
    position: absolute;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#controls-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#controls-container input[type=text] {
    width: 50px;
}

canvas {
    border: 1px solid black;
}

#sequencer-container table tr td {
    width: 32px;
    background-color: #37867e;
    text-align: center;
    border-left: 1px #010201 solid;
    border-bottom: 1px #010201 solid;
}
#sequencer-container table tr:nth-child(4n-3) td {
    background-color: #419e95;
}
#sequencer-container table tr td:nth-child(1)::before {
    counter-increment: row-counter;
    content: counter(row-counter);
}
#sequencer-container table tr td:nth-child(1) {
    background-color: #0f2623;
    color: #e8f6f4;
}
#sequencer-container table {
    border-spacing: 0;
    border: 1px #010201 solid;
    font-size: 10pt;
    padding: 0;
}
#sequencer-container #sequencer-scroll {
    max-height: 40vh;
    overflow-y: auto;
}
#sequencer-container {
    display: flex;
    flex-direction: row;
    padding: 0.5em 0;
}

#sequencer-container .sequencer {
    counter-reset: row-counter -1;
    padding: 0 0.5em;
}
